:root{
    --text-primary: #212121;
    --text-white: #ffffff;
    --text-brand: #2196F3;
    --text-secodnary: #757575;
    --text-tertiary: #ACACB0;
    --backgroud-gray: #2F303A;
    --backgroud-lightgray: #F5F4FA;
    --foregroud-primary:#2196F3;
    --foregroud-secondary:hsla(0, 0%, 46%, 1);
    --foregroud-white:#ffffff;
    --foreground-lightgray: #F5F4FA;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container.header-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0px;
}

.logo{
    width: 145px;
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0px;
}


.nav-item{
    color: var(--text-primary);
    text-decoration: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-item:hover{
    color: var(--text-brand);
}

.contact-list {
    display: flex;
    gap: 30px;
}

.contact-link{
    color: var(--foregroud-secondary);
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-link:hover{
    color: var(--foregroud-primary);
}

.contact-item{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.mail-icon{
    fill: currentColor;
    display: block;
    width: 16px;
    height: 12px;
}

.phone-icon{
    fill: currentColor;
    display: block;
    width: 10px;
    height: 16px;
}


.hero{
    width: auto;
    height:600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsla(235, 10%, 21%, 0.4), hsla(235, 10%, 21%, 0.4)),
     url(/images/hero-bg.png);
    background-size: cover;
    background-color: hsla(235, 10%, 21%, 0.4);
    
}


.hero-title{
    color: var(--text-white);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin: 0px;
}

.hero-button{
    height: 50px;
    width: 216px;
    background-color:var(--foregroud-primary);
    color:var(--text-white);
    text-align: center;
    border-radius: 4px;
    border: none;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover{
    filter: brightness(85%);
}

.feature-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}


.feature{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container.feature-container{
    padding-bottom: 0px;
}

.feature-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--foreground-lightgray);
    border-radius: 4px;
}

.feature-icon{
    display: block;
    width: 70px;
    height: 70px;
}

.feature-title{
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    text-align: left;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin: 0px;
}

.feature-description{
    color: var(--text-secodnary);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
margin: 0px;
}

h2{
    color:var(--text-primary);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin: 0px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 94px 0px;
    width: 1170px;
}

.actions-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.action-image{
    max-width: 370px;
height: 294px;
border-radius: 4px;
overflow: hidden;
}

.team{
    background-color: var(--backgroud-lightgray);
}

.team-member-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: auto;
}

.member{
    display: flex;
    flex-direction: column;
    background-color: var(--foregroud-white);
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.member-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 16px;
    height: fit-content;
}

.member-title{
    color: var(--text-primary);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin: 0px;
}

.member-description{
    color: var(--text-secodnary);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
margin: 0px;
}

.footer{
    background-color: var(--backgroud-gray);
    display: flex;
    justify-content: center;

}

.container.footer-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 60px 0px;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: str;
    gap: 20px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: auto;
}

.footer-address{
    color: var(--text-white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin: 0px;
}

.footer-item{
    color: var(--text-tertiary);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
text-decoration: none;
}

.footer-item:hover{
    color: var(--text-brand);
}