:root{
    --text-primary: #212121;
    --text-white: #ffffff;
    --text-brand: #2196F3;
    --text-secodnary: #757575;
    --text-tertiary: #ACACB0;
    --backgroud-gray: #2F303A;
    --backgroud-lightgray: #F5F4FA;;
    --foregroud-primary:#2196F3;
    --foregroud-white:#ffffff;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;

}

.logo{
    width: 145px;
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0px;
}


.nav-item{
    color: var(--text-primary);
    text-decoration: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-item:hover{
    color: var(--text-brand);
}

.contact-list {
    display: flex;
    gap: 30px;
}

.contact-item{
    text-decoration: none;
    color: var(--text-secodnary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.contact-item:hover{
    color: var(--text-brand);
}

.hero{
    width: auto;
    height:600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroud-gray);
}

.hero-title{
    color: var(--text-white);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin: 0px;
}

.hero-button{
    height: 50px;
    width: 216px;
    background-color:var(--foregroud-primary);
    color:var(--text-white);
    text-align: center;
    border-radius: 4px;
    border: none;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover{
    opacity: 80%;
}

.feature-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 94px 16px 0px;

}


.feature{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.feature-title{
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    text-align: left;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin: 0px;
}

.feature-description{
    color: var(--text-secodnary);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
margin: auto;
}

h2{
    color:var(--text-primary);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin: 0px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 94px 16px;
}

.actions-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.action-image{
    max-width: 370px;
height: auto;
}

.team{
    background-color: var(--backgroud-lightgray);
}

.team-member-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: auto;
}

.member{
    display: flex;
    flex-direction: column;
    background-color: var(--foregroud-white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

}

.member-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 16px;
    height: fit-content;
}

.member-title{
    color: var(--text-primary);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin: 0px;
}

.member-description{
    color: var(--text-secodnary);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
margin: 0px;
}

.footer{
    background-color: var(--backgroud-gray);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 16px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: auto;
}

.footer-address{
    color: var(--text-white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin: 0px;
}

.footer-item{
    color: var(--text-tertiary);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
text-decoration: none;
}

.footer-item:hover{
    color: var(--text-brand);
}